<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

    <div class="row align-items-center mb-4">
        <div class="col-md-4">
            <h1>Books</h1>
        </div>
        <div class="col-md-4">
            <h3>Welcome <span sec:authentication="name"></span></h3>
        </div>
        <div class="col-md-4">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Category</th>
                <th sec:authorize="hasRole('ADMIN')"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.category?.name}"></td>
                <td>
                    <a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-xs btn-danger"
                        sec:authorize="hasRole('ADMIN')">Delete</a>
                </td>
                <td><a th:href="@{'/edit/' + ${book.id}}" class="btn btn-primary">Edit</a></td>
            </tr>
        </tbody>
    </table>

    <div class="text-start">
        <a th:href="@{/newbook}" class="btn btn-success">Add book</a>
    </div>

</body>

</html>