<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
</head>

<body>
    <h1>Edit Book</h1>
    <form action="@{/update/{id}(id=${book.id})}" th:action="@{/update/{id}(id=${book.id})}" th:object="${book}"
        method="post">

        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td>Author:</td>
                <td><input type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td>Year:</td>
                <td><input type="text" th:field="*{publicationYear}" /></td>
            </tr>
            <tr>
                <td>Isbn:</td>
                <td><input type="text" th:field="*{isbn}" /></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" th:field="*{price}" /></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                    <select id="categoryList" th:field="*{category}" class="form-control">
                        <option th:each="cat : ${categories}" th:value="${cat.categoryId}" th:text="${cat.name}">
                        </option>
                    </select>

                </td>

            </tr>
            <tr>
                <td><input type="hidden" th:field="*{id}" /></td>
                <td><button type="submit">Update book</button></td>
            </tr>

        </table>
    </form>
</body>

</html>